@font-face {
    font-family: 'Inter';
    src: url(./Inter-Regular.ttf);
}

div{
    width: 230px;
    height: 297px;
    top: 9px;
    left: 10px;
    border: 2px solid #CCCCCC;
    overflow: scroll;

}

p{
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;

}